<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h2>Excel Read Form</h2>
              <form [formGroup]="readExcelForm" (ngSubmit)="onSubmit()" >
                  <div class="form-group">
                      <label>Enter Cell Id</label>
                      <input type="text" formControlName="cellId" class="form-control" placeholder="Cell Id" />
                  </div>

                  <div class="form-group">
                      <label>Select File</label>
                      <select formControlName="filename" class="form-control" id="filename" required>
                          <option *ngFor="let name of filenames" [value]="name">{{name}} </option>
                      </select>
                  </div>

                  <div class="form-group">
                      <button class="btn btn-primary" >Fetch</button>
                  </div>

                  <div *ngIf = "isSubmitted">
                     <strong>Value fetched: {{returnedValue}}</strong> 
                  </div>

                  <a class="nav-link register-custom" routerLink="/services/list">back</a>
              </form>
          </div>
      </div>
  </div>
</div>